<!DOCTYPE html>
<html lang="ja">

<head>
    <meta http-equiv="refresh" content="1" URL="app.html">
    <title>生田駅の時刻表</title>
    <!-- 詳しくはapp.htmlを -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/table.css') }}">
</head>

<body>
    <h1 style="text-align: center;">現在の時間: {{ now_time }}</h1>
    <p style="text-align: center;">今日は{{ today }}ダイヤです</p>
    <h1 id="title">上り(新宿方面)</h1>
    <table>
        <tr>
            <th>出発時刻</th>
            <th>目的地</th>
        </tr>
        {% for row in nobori_table %}
        <tr>
            <td>{{ row['出発時刻'] }}</td>
            <td>{{ row['目的地'] }}</td>
        </tr>
        {% endfor %}
    </table>
    <br>
    <hr>
    <br>
    <h1 id="title">下り(小田原/藤沢方面)</h1>
    <table>
        <tr>
            <th>出発時刻</th>
            <th>目的地</th>
        </tr>
        {% for row in kudari_table %}
        <tr>
            <td>{{ row['出発時刻'] }}</td>
            <td>{{ row['目的地'] }}</td>
        </tr>
        {% endfor %}
    </table>
</body>

</html>