<!DOCTYPE html>
<html lang="ja">

<head>
    <meta http-equiv="refresh" content="100" URL="app.html">
    <title>Nearest Times</title>
    <style>
        table {
            border-collapse: collapse;
            width: 100%;
        }
        th,
        td {
            border: 1px solid #ddd;
            padding: 8px;
            text-align: center;
        }
    </style>
</head>

<body>
    <h1 style="text-align: center;">現在の時間: {{ now_time }}</h1>
    <h1>上り(新宿方面)</h1>
    <table>
        <tr>
            <th>出発時刻</th>
            <th>目的地</th>
        </tr>
        {% for row in nobori_table %}
        <tr>
            <td>{{ row['出発時刻'] }}</td>
            <td>{{ row['目的地'] }}</td>
        </tr>
        {% endfor %}
    </table>
    <br>
    <hr>
    <br>
    <h1>下り(小田原/藤沢方面)</h1>
    <table>
        <tr>
            <th>出発時刻</th>
            <th>目的地</th>
        </tr>
        {% for row in kudari_table %}
        <tr>
            <td>{{ row['出発時刻'] }}</td>
            <td>{{ row['目的地'] }}</td>
        </tr>
        {% endfor %}
    </table>
</body>

</html>